
<div id="about">
    <div class="box">
        <img src="/images/Me.jpg" alt="Me" id="Me">
    </div>
    <div class="wrapper" id="Ima">
        <div class="static-txt">I'm a</div>
        <ul class="dynamic-txts">
            <li><span id="sddf">Student</span></li>
            <li><span id="sddf">Designer</span></li>
            <li><span id="sddf">Developer</span></li>
            <li><span id="sddf">Freelancer</span></li>
        </ul>
    </div>
</div>


<h2 id="name">Jacques REMY</h2>
<p id="presentation">Hi ! I'm a french exchange student. I leave in Lyon and study there in Epita. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro molestiae totam eos quod? Officia, tempora tenetur accusantium iusto maiores corporis iste quia fugiat reiciendis adipisci nulla ad dolor vitae sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quos illo officia neque odio ad similique nam reprehenderit, iure nostrum obcaecati tenetur ratione optio repellat eius non pariatur autem architecto! Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br><br>Tempore dignissimos incidunt corrupti accusantium minus illum velit, optio quibusdam ad similique enim laudantium fugit ullam deleniti nihil delectus ratione inventore cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem assumenda natus magnam aspernatur accusantium velit reiciendis consequuntur culpa sint ipsa voluptas, impedit doloribus repudiandae similique dignissimos aliquid laborum ad error. </p>



