<h3>Thank you, the friend has been added to the database</h3>
<p id="loading">I hope (s)he's not a fake friend !!</p>

<div class="progress">
  <div class="progress-value"></div>
</div>

<script>

window.onload = setTimeout(myFunction, 5000);
function myFunction() {
  window.location.href = "/friends";
}
</script>