<h3>Add a new friend :</h3>

<form action="/friends/personadded" method="get">
    <div class="container" id="addnew">
        <div class="form-group">
            <label for='firstname'>First Name</label>
            <input type=text id='firstname' name='firstname' class='form-control'>
        </div>
        <div class="form-group">
            <label for='surname'>Surname</label>
            <input type=text id='surname' name='surname' class='form-control'>
        </div>
        <button type=submit class="btn btn-primary" id="addPerson">Add Person</button>

        </div>
    </div>
</form>
